streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-google-genai
faiss-cpu
PyMuPDF
elevenlabs
duckduckgo-search
python-dotenv
groq
pillow
requests
fastapi
uvicorn
python-multipart